<nav class="navBar">
  <ul>
  
    <li><a href="/">Home</a></li>
    <li><a href="/diary/">Agendamento</a></li>
    <li><a href="/diary/index/">Agenda</a></li>
    <li><a href="/service/findServicesIndex/">Serviços</a></li>
    <li><a href="/service/">Registrar Serviço</a></li>
    <li><a href="/balance/">Finanças</a></li>
    <li><a href="/login/logout">Sair</a></li>
  </ul>
</nav>
