<%- include("includes/head") %> 

<body>

  <div class="containerSpreadsheet">

    <div class="menuHead">
      <%- include("includes/spreadsheetHeader") %>
    </div>
    <div class="spreadsheetM">
      <%- include("includes/spreadsheetMTable") %>
    
    </div>
</body>
</html>